
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
}
nav{
  background: transparent;
  padding: 5px 40px;
  margin-top: 25px;
}

img {
    height: 50px;
}

nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1150px;
  max-width: 100%;
  margin: 0 auto;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 8px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: cyan;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
  margin: 0 8px;
}
@media all and (max-width: 768px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
    padding: 0;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff,
                inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}



#outter-hero {
  background: linear-gradient(rgba(39,39,39,0.85), rgba(39,39,39,0.85)), url("../img/banner.jpg");
  width: auto;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {

  nav ul li.items {
    display: none;
  }

  .fa-bars {
    color: #FFFFFF;
    font-size: 26px;
    display: block !important;
  }

}

.logo {
  padding: 0;
  margin-top: 0;
  font-size: 18px;
}

h1 {
  margin: 0;
  margin-top: -12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 850px;
  max-width: 95%;
  margin-top: 10rem;
  max-height: 600px;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .text-container {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 420px) {
  .text-container {
    margin-top: 6rem;
  }
}

.main-title{
  font-size: 50px;
  color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 468px) {
  .main-title {
    font-size: 30px;
  }
}

.sub-title {
  font-size: 18px;
  width: 520px;
  max-width: 100%;
  color: #E2E2E2;
  font-weight: 400;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 468px) {
  .sub-title {
    font-size: 16px;
  }
}

.learn-more {
  padding: 8px 27px;
  background-color: #5448C8;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}

/* Hero section*/

.fa-bars {
  display: none !important;
}
/*HOME PAGE */
#about-banner {
  width: 100%;
  height: 400px;
  background:linear-gradient(0deg, rgba(23, 23, 23, 0.4), rgba(23, 23, 23, 0.4)), url(../img/about-us-banner-image.jpg);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

@media screen and (max-width: 468px;) {
  h1 {
    font-size: 10px;
  }
}

.page-title {
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  margin-top: 60px;
}

.about-us-text-wrap {
  width: 1000px;
  max-width: 95%;
  height: auto;
  margin: 0 auto;
}

.subject-title {
  font-size: 32px;
  color: #3f69c4;
  text-align: center;
  font-weight: 400;
  margin-top: 30px;
}

  .no-background {
  background-color: transparent;
}

.dark-title {
  color: #272727;
}

.about-text {
  font-size: 17px;
  text-align: left;
  color: #171717;
  font-weight: 400;
  line-height: 28px;
  margin-top: 30px;
}

.vision-title {
  font-size: 32px;
  color: #171717;
  text-align: center;
  margin-top: 80px;
}

.vision-text {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  color: #333333;
}
/* VISION AND ABOUT */
.core-values-text-wrap {
  width: 1000px;
  max-width: 95%;
  height: auto;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.values-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
}

.values-box-1 {
  height: 200px;
}
.values-box-2 {
  height: 200px;
}

.values-box-3 {
  height: 200px;
}

.values-box-4 {
  height: 200px;
}

.values-box-5 {
  height: 200px;
}



.value-title {
  font-size: 24px;
  color: #3f69c4;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.value-description {
  font-size: 18px;
  color: #171717;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 25px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .values-grid {
    width: 800px;
    grid-template-columns: 1fr 1fr;
  }

  .values-box-1 {
      height: 300px;
  }

  .values-box-2 {
      height: 300px;
  }

  .values-box-3 {
      height: 300px;
  }

  .values-box-4 {
      height: 300px;
  }

  .values-box-5 {
      height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .values-grid {
    grid-template-columns: 1fr;
  }

  .values-box-1 {
      height: 250px;
  }

  .values-box-2 {
      height: 250px;
  }

  .values-box-3 {
      height: 250px;
  }

  .values-box-4 {
      height: 250px;
  }

  .values-box-5 {
      height: 250px;
  }
}
/* ABOUT US SECTION */


#service-banner {
  width: 100%;
  height: 400px;
  background:linear-gradient(0deg, rgba(23, 23, 23, 0.4), rgba(23, 23, 23, 0.4)), url(../img/services-banner-image.jpg);
  background-size: cover;
  background-position: top center;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {

  .fa-bars {
    color: #FFFFFF;
    font-size: 26px;
    display: block !important;
  }

  nav {
    max-width: 100%;
  }
}

.service-text-wrap {
  width: 1000px;
  max-width: 95%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

.list-service {
  text-align: center;
  margin-top: 7px;
}


@media screen and (max-width: 1000px) {
  .service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 8000px;
  }
}

@media screen and (max-width: 500px) {
  .service-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    width: 95%;
  }

  .website-name {
    font-size: 20px;
  }
}


.service-1 {
  height: 350px;
  margin-bottom: 20px;
}

.service-2 {
  height: 350px;
  margin-bottom: 20px;
}

.service-3 {
  height: 350px;
  margin-bottom: 20px;
}


.service-icons {
  display: block;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
}

.service-type {
  font-size: 20px;
  color: #3f69c4;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.service-info {
  font-size: 18px;
  color: #171717;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 25px;
}

.service-topics {
  font-size: 17px;
  color: #171717;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}



/* Services */
