<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="shortcut icon" type="image/png" href="../img/dark-logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
  <body>
    <div id="service-banner">
      <nav>
        <ul>
          <img src="img/white-logo.png" alt="">
  <li class="logo">Banna Technologies</li>
  <li class="items"><a href="/">Home</a></li>
  <li class="items"><a href="/about">About</a></li>
  <li class="items"><a href="/services">Services</a></li>
  <li class="items"><a href="mailto:mail@bannatechnologies.com">Contact</a></li>
  <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
  </ul>
  </nav>
      <p class="page-title">Services</p>
    </div>    <!--End of services-banner-->

    <div class="service-text-wrap">
      <p class="subject-title">Services we offer</p>
    </div>

    <div class="service-grid">
      <div class="service-1">
        <img src="img/clients.png" class="service-icons" alt="Client Icon">
        <p class="service-type">Client Side Engineering</p>
        <ul>
          <li class="list-service">User Requirement & Engineering Specification</li>
          <li class="list-service">Strategic Management & Execution</li>
          <li class="list-service">Bankable Feasibility Studies</li>
          <li class="list-service">Risk Optimisation Management</li>
        </ul>
      </div>

      <div class="service-2">
        <img src="img/construction.png" class="service-icons" alt="Construction Icon">
        <p class="service-type">Project & Construction Management</p>
        <ul>
          <li class="list-service">Project Management Life Cycle</li>
          <li class="list-service">Project Monitoring & Health Reporting</li>
          <li class="list-service">Construction Staging & Execution</li>
          <li class="list-service">Quality Control & Inspection Service</li>
        </ul>
      </div>

      <div class="service-3">
        <img src="img/engineering.png" class="service-icons" alt="Engineering Icon">
        <p class="service-type">Technical & Engineering</p>
        <ul>
          <li class="list-service">Design Constructability Review</li>
          <li class="list-service">Project Specification & Development</li>
          <li class="list-service">Design Management</li>
          <li class="list-service">Sustainability Strategies</li>
          <li class="list-service">Technical Peer Reviews</li>
        </ul>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $('.btn').click(function(){
          $('.items').toggleClass("show");
          $('ul li').toggleClass("hide");
        });
      });
      </script>
  </body>
</html>
